h1,
h2,
h4,
h3,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Futura PT';
    overflow-x: hidden;
    background: #f9f9f9 url('../images/bg.png')
}